@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
body, html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.theme--light.v-application {
  font-family: 'Montserrat', sans-serif;
  background: #f3f6fb!important;
}
.header-logo {
  width: 140px;
  padding: 15px;
  background: #FFF;
  border-radius: 15px;
  // box-shadow: 2px 2px 4px #000;
  margin: 0 auto 20px;
  img {
    width: 100%;
    display: block;
  }
}
.img-block {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.app-bar-logo {
  width: 50px;
  height: 100%;
  padding: 2px;
  background-color: #FFF;
  border-radius: 5px;
}
.list {
  list-style-type: none;
  padding: 0!important;
}
.quote {
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  display: inline-block;
}
.header-image {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #FFF;
  img {
    @extend .img-block;
    object-fit: cover;
    object-position: bottom;
  }
  &--label {
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 0;
    padding: 0.4rem 1rem;
    background: $primary-opacity;
    text-align: right;
    border-top-left-radius: $border-radius;
  }
  &--title {
    text-transform: uppercase;
    color: $yellow-c;
    line-height: 1;
    font-weight: normal;
  }
  &--subtitle {
    color: $white-text;
    margin-bottom: 0!important;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
}
.price-label {
  color: lighten($primary, 15%);
}

.lh-1 {
  line-height: 1;
}

.h-100 {
  height: 100%;
}

.relative {
  position: relative;
}

.divider-primary {
  background: $primary;
  opacity: 0.5;
}

.v-breadcrumbs a {
  color: $text-color;
  font-weight: 400;
}

.slide-fade-enter-active {
  transition: all .4s ease;
}
.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}