// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$mobile: 'max-width: 600px';
$tablet: 'min-width: 600px';
$desktop: 'min-width: 960px';
$lg: 'min-width: 1264px';
$xlg: 'min-width: 1904px';

$yellow-c: #ffca1d;
$white-text: #f2f2f2;
$blue-c: #37a6ff;
$primary: #322C79;
$primary-opacity: rgba(#322C79, 0.9);
$text-color: rgba(0, 0, 0, 0.87);

$border-radius: 8px;